<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <springProperty scope="context" name="APP_NAME" source="spring.application.name" defaultValue="super-skylab"/>

    <appender name="JSON_CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="net.logstash.logback.encoder.LogstashEncoder">
            <customFields>{"service":"${APP_NAME}"}</customFields>
            <includeCallerData>false</includeCallerData>
            <shortenedLoggerNameLength>36</shortenedLoggerNameLength>
        </encoder>
    </appender>

    <logger name="org.springframework" level="WARN"/>
    <logger name="com.netflix" level="WARN"/>
    <logger name="org.hibernate" level="WARN"/>

    <logger name="com.skylab" level="INFO"/>

    <root level="INFO">
        <appender-ref ref="JSON_CONSOLE"/>
    </root>

</configuration>
